@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');


* {
  font-family: 'Red Hat Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

// app global css in SCSS form


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.transition-enter-active {
  transition: all .25s cubic-bezier(1, 0, 0, 1);
}
.transition-leave-active {
  transition: all .25s cubic-bezier(1, 0, 0, 1);
}
.transition-enter {
  transform: scale(0.75);
  opacity: 0;
}

.transition-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.75);
  opacity: 0;
}

.transition-move {
  transition: transform 0.35s;
}

.transition-enter-to, .transition-leave {
  transform: scale(1);
}

