node_modules
yarn-error.log
dist
index.exe
hestia-backend.exe
tracvac-server.exe

app
static

objection-generator/*
!objection-generator/schema.yaml

tmp_migrations

# database and node binding
public/users/*
*.log
plugins
tracvac-config
.env
tracvac-db.sqlite3
node_sqlite3.node
xdg-open

*.pem
