node_modules
yarn-error.log
dist
index.exe
hestia-backend.exe

objection-generator/*
!objection-generator/schema.yaml

tmp_migrations

# database and node binding
tracvac-db.sqlite3
node_sqlite3.node
xdg-open
tracvac-config

cert.pem
key.pem